export(calc.actual.fst)
export(calc.allele.freq)
export(calc.exp.het)
export(calc.fst)
export(find.outliers)
export(fst.boot)
export(fst.boot.onecol)
export(mean.cis)
export(my.read.genepop)
export(plot.cis)
export(remove.spaces)