export(calc.actual.fst)
export(calc.allele.freq)
export(calc.exp.het)
export(calc.fst)
export(find.outliers)
export(fst.boot)
export(fst.boot.onecol)
export(ci.means)
export(my.read.genepop)
export(plotting.cis)
export(remove.spaces)
export(fhetboot)
export(p.boot)
export(ci.means)
export(fst.boot.means)
export(fst.options.print)
export(wc.corr.fst)
export(wc.fst)
export(allele.counts)
export(fsthet)
export(find.quantiles)
export(make.bins)
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "axis", "hist", "mtext", "plot", "points")
importFrom("stats", "p.adjust")
importFrom("utils", "write.csv")