export(calc.actual.fst)
export(calc.allele.freq)
export(calc.exp.het)
export(calc.fst)
export(find.outliers)
export(fst.boot)
export(fst.boot.onecol)
export(ci.means)
export(my.read.genepop)
export(plotting.cis)
export(remove.spaces)